{% extends 'Layouts/base.html' %}
{% block content %}
    <style>
.infoperso{
    align-self: center;
    justify-content: center;
    align-items: center;
    width: 40%;
    min-width: 400px;
    border-radius: 4px;
    background: linear-gradient(0deg,#DDD,#EEE);
    text-align: Left;
	transition: 0.5s;
	border: 50px;
	padding-left: 50px;
}
.container {
    align-self: center;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    width: 90%;
    min-width: 200px;
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
    margin-left: 5%;
	margin-right: 5%;
	justify-content: space-around
}/*.container{
    position: relative;
    width: 90%;
    display: flex;
    justify-content: space-around;
    margin: 15px;
    float: Left;
}*/

.container .card {
    position: relative;
    width: 180px;
    background: linear-gradient(0deg,#DDD,#EEE);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    border-radius: 4px;
    text-align: center;
    overflow: hidden;
	transition: 0.5s;
	margin: 10px;

}
.container .card:hover {
    transform: translateY(-10px);
    transform:scale(1.05);
}
.container .card:before {
    content: '';
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .03);
    pointer-events: none;
    z-index: 1;
}

.percent{
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: inset 0 0 25px #000;
    z-index: 1000;
}
.percent .number {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.percent .number h2 {
	color: #888;
	font-weight: 350;
	font-size: 20px;
	transition: 0.5s;
}
.card:hover .percent .number h2 {
	color: #000;
	font-size: 28px;
}
.percent .number h2 span {
	color: #888;
	font-size: 18px;
	transition: 0.5s;
}
.card:hover .percent .number h2 span {
	color: #000;
	transition: 0.5s;
}
.text {
	position: relative;
	color: #888;
	margin-top: 10px;
	font-weight: 350;
	font-size: 19px;
}
.card:hover .text {
	color: #0AF;
}
svg {
    position: relative;
    width: 80px;
    height: 100px;
    z-index: 1000;
}
svg circle{
    
    width: 100%;
    height: 100%;
    fill: none;
    stroke:#CCC;
    stroke-width: 10;
    stroke-linecap:round;
    transform: translate(5px,5px);
}
svg circle:nth-child(2){

    stroke-dasharray: 220;
    stroke-dashoffset: 220;
}
    
.card:nth-child(1) svg circle:nth-child(2){
	stroke-dashoffset: calc(220 - (220 * 100) / 100);
    stroke: #0AF;
}
.card:nth-child(2) svg circle:nth-child(2){
	stroke-dashoffset: calc(220 - (220 * 100) / 100);
    stroke: #0AF;
}
.card:nth-child(3) svg circle:nth-child(2){
	stroke-dashoffset: calc(220 - (220 * 100) / 100);
    stroke: #0AF;
}
.card:nth-child(4) svg circle:nth-child(2){
	stroke-dashoffset: calc(220 - (220 * 100) / 100);
    stroke: #0AF;
}
.card:nth-child(5) svg circle:nth-child(2){
	stroke-dashoffset: calc(220 - (220 * 100) / 100);
    stroke: #0AF;
}
.card:nth-child(6) svg circle:nth-child(2){
	stroke-dashoffset: calc(220 - (220 * 100) / 100);
    stroke: #0AF;
}
.card:nth-child(7) svg circle:nth-child(2){
	stroke-dashoffset: calc(220 - (220 * 100) / 100);
    stroke: #0AF;
}
    </style>

<div class=infoperso>
  <h1>Username: {{ user.username }}</h1>

<ul>
  <li>email: {{ user.email }}</li>
  <li>profil modifié le:  {{ user.profile.last_modified }}</li>
  <li>profil créé le:  {{ user.profile.created_on }}</li>
  <li>Mes cours : 
  {% for cours in user.profile.cours.all %}
     {{ cours }},
  {% endfor %}
  </li>
  <li>Mes travaux pratiques :
  {% for lab in user.profile.lab.all %}
     {{ lab }},
  {% endfor %}
  </li>
  </ul>
</div>

  <div class="cours">
      <div class="container">
  {% for lab in user.profile.lab.all %}
     

          <div class="card">
              <div class="box">
                  <div class="percent">
                      <svg>
                          <circle cx="35" cy="35" r="35"></circle>
                          <circle cx="35" cy="35" r="35"></circle>
                      </svg>
                      <div class="number">
                          <h2>100<span>%</span></h2>
                      </div>
                  </div>
                  <h2 class="text">{{ lab }}</h2>
              </div>
          </div>

  {% endfor %}
        </div>
  </div>



{% endblock content %}